spring:
  application:
    name: auth-service
  config:
    import: "optional:configserver:http://localhost:8888/"

jasypt:
  encryptor:
    algorithm: PBEWITHHMACSHA512ANDAES_256
    iv-generator-classname: org.jasypt.iv.RandomIvGenerator

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/