server:
  port: 8000  # Gateway는 보통 8000번이나 8080번을 사용합니다.

spring:
  application:
    name: gateway-service
  config:
    import: "optional:configserver:http://localhost:8888/"
  
  cloud:
    gateway:
      # 1. CORS 설정 (Vue.js와 통신하기 위해 필수)
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "http://localhost:5173" # Vue.js 개발 서버 주소 (Vite 기본 포트)
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/ # Discovery Service 주소

# jwt:
#   secret: V2FuTW9uaXRvcmluZ1N5c3RlbVNlY3JldEtleUZvckpXVFNpZ25pbmc=